*.css linguist-detectable=false
*.html linguist-detectable=false
*.python linguist-detectable=true

Bronze/** linguist-documentation=false
Bronze/** linguist-vendored=false

Silver/** linguist-documentation=false
Silver/** linguist-vendored=false
